

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Art-Mall</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../statics/plugins/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../..//statics/css/index.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header">
        <div class="layui-form-item">
          一级分类：
          <div class="layui-inline">
              <select name="catalog1name" lay-filter="catalog1name">
                <option value=""></option>
              </select>
          </div>
          二级分类：
          <div class="layui-inline">
            <select name="catalog2name" id="catalog2name" lay-filter="catalog2name">
              <option value=""></option>
            </select>
          </div>
          三级分类：
          <div class="layui-inline">
            <select name="catalog3name" lay-filter="catalog3name">
              <option value=""></option>
            </select>
          </div>

          <div class="layui-inline">
            <button class="layui-btn" lay-submit lay-filter="lay-submit-search">
              <i class="layui-icon layui-icon-search lay-button-btn"></i>
              搜索
            </button>
          </div>

          <div class="layui-inline">
              <button class="layui-btn ud-btn" data-type="add">
                <i class="layui-icon layui-icon-add-1 layuiadmin-button-btn"></i>
               添加
              </button>
          </div>

          <div class="layui-inline">
            <button class="layui-btn ud-btn" data-type="del">
              <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>
              删除
            </button>
          </div>

        </div>

      </div>

      <table id="lay-tab" lay-filter="lay-tab"></table>


      </div>
    </div>
  </div>

  <script src="../../../statics/plugins/layui/layui.js"></script>
  <script>

  layui.config({
      base : '../../../statics/modules/' //静态资源所在路径
  }).extend({
      index : 'index',
      attrinfo : 'bus/attrinfo'
  }).use(['index','attrinfo', 'table']);

  </script>
</body>
</html>
